*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
html{
    background: #C1BBBD;
}
.App{
    width: 900px;
    background-color: #C1BBBD;
    margin: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.nav{
    background-color: rgb(255, 252, 247);
    display: flex;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.title{
    color: black;
    text-decoration: none;
    padding-top: 7px;
}
.leftside{
    margin-left: 80px;
    padding-top: 23px;
    padding-bottom: 25px;
}
.navright{
    display: flex;
    margin-left: 360px;
    padding-top: 32px;
    padding-bottom: 22px;
}
.navlinks{
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding-left: 20px;
}
.signup{
    margin-left: 25px;
    padding: 10px;
    font-size: 12px;
    margin-top: -5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border: none;
    color: white;
    background:black;
    font-weight: 550;
}
.topmain{
    background: #E7E8EC;
    padding-top: 80px;
    padding-left: 80px;
}
h1{
    font-size: 41px;
    width: 340px;
    letter-spacing: 1px;
}
.description{
    margin-top: 20px;
    width: 300px;
    font-size: 13px;
    color: rgb(88, 88, 88);
}
.startshopping{
    border: none;
    color: white;
    background:black;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 20px;
    padding: 10px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 20px;
}
.package{
    background: white;
    border:none;
    margin-top: 40px;
    display:flex;
    margin-bottom: 20px;
 
}
.tulipbouquet{
    width: 100px;
}
.rosebouquet{
    width: 100px;
    height: 100px;
    
}
.buttons1{
    padding-bottom: 40px;
}
#rose1{
margin-left: 220px;
margin-top: -140px;
padding: 10px;
border-radius: 30px;
}
#tulip1{
padding: 10px;
margin-top: 60px;
border-radius: 30px;
}
.flowerpackage{
    margin-top: 15px;
    padding-right: 5px;
    font-size: 12px;
}
.flowerprice{
    margin-top: 7px;
    padding-right: 24px;
    font-weight: 400;
    font-size: 17px;
}
.detail{
    margin-top: 7px;
    padding-right: 25px;
    color: rgb(202, 202, 202);
}
.midbar{
    background: black;
    
}
.midbar1{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    padding-top: 70px;

}
.midbar2{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 70px;
    opacity: 90%;
    letter-spacing: .4px;
    
}
.happyclients{
font-weight: 200;
margin-left: 25px;

}
.bouquetsold{
    margin-left: 30px;
    font-weight: 200;
}
.packagessold{
   padding-left: 10px;
    font-weight: 200;
}
.yearsof{
    font-weight: 200;
}
.number{
    font-weight: 500;
}
.bottommain{
    background: rgb(255, 252, 247);
    padding: 30px;
    padding-left: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bottomnav{
    display: flex;
    
}
.bottombutton{
    display: flex;
   margin-left: 610px;
}
.bottomleft{
margin-right: 10px;
padding-left: 13px;
padding-right: 14px;
padding-top: 6px;
padding-bottom: 8px;
border-radius: 20px;
border: none;
text-align: center;
background: black;
color: white;
opacity: 10%;
}
.bottomright{
    padding-left: 13px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background: black;
    color: white;
}
.title2{
    font-size: 22px;
    font-weight: 600;
    margin-top: -7px;
}
#three{
}
.bestsellers{
    display: flex;
    padding-top: 20px;

}
.seller{
    padding: 0px;
    border: none;
    padding-bottom: 0px;
    margin-left: 9px;
    border-radius: 25px;
}
#one{
    background-image: url(https://cdn.globalrose.com/assets/img/prod/buy-white-aster-flowers-globalrose.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.flag{
    
    display: flex;
    margin-top: -10px;
    margin-left: 0px;
    padding-top: 30px;
    
}
.heart{
    background-image: url(https://i.pinimg.com/originals/20/17/8d/20178db3af74897c81b501d3c256773e.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-top: 5px;
    margin-right: 10px;

}
.specialnew{
    margin-top: 100px;
    text-align: left;
    margin-left: 15px;
    padding-top: 10px;
    font-size: 8px;
}
.aster{
    margin-left: -20px;
    padding-top: 5px;
}
.sellerbottom{
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 30px;
}
.astercost{
    margin-left: -7px;
    font-weight: 400;
    width: 100px;
}
.cart{
    
    border-radius: 20px;
    border: none;
    text-align: center;
    color: white;
    background-image: url(https://www.pinclipart.com/picdir/big/403-4035278_png-file-svg-shopping-cart-icon-png-clipart.png);
    background-size: 16px;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 100px;
   margin-top: -23px;
    border: solid 1px black
}
.new{
    background: black;
    color: white;
    padding-left: 0px;
    width: 50px;
}
.cartspacing{
margin-top: -10px;
margin-bottom: 10px;
}