*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App{
    display: flex;
    margin: 40px;
    width: 80%;
    height: 800px;
    background: #ECEEEE;
    border-radius: 20px;
}
.leftcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin: 20px;
    width: 20%;
    border-radius: 20px;
}
.Fundbatch{
    display: flex;
    font-size: 25px;
    margin-top: 15px;
}
.Fund{
color: #41688F;
}
.pfp{
    width: 60px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.profile{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.welcome{
    font-size: 12px;
    color: grey;
    font-weight: 500;
}
.name{
    color: #41688F;
    font-size: 16px;
}
.budget{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.monthly{
    font-size: 15px;
    color: grey;
    font-weight: 500;
    letter-spacing: -.5px;
}
.money1{
    font-size: 30px;
}
.piecon{
    width: 17px;
    height: 17px;
    margin-right: 15px;
}
.nav{
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dashdiv{
    display: flex;
    align-items: center;

}
.signdiv{
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    margin-bottom: 10px;
}
.topleft{
    height: 400px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
.Dashboard1{
    font-size: 15px;
    color: grey;
}
.Dashboardselect{
    font-size: 15px;
}
.midcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 40%;
    border-radius: 20px;

}
.search{

display: flex;
justify-content: space-between;
width: 88%;
background: white;
padding: 10px;
border-radius: 30px;
padding-left: 25px;
padding-right: 25px;
}

.magnify{
background: transparent;
border: none;
}
.glass{
    width: 15px;
}

.input1{
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    margin-left: 10px;
}
.width{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    
}
.dashy{
    color: #41688F;
    margin-top: 30px;
    margin-bottom: 30px;
}
.creditcard{
    display: flex;
    background: white;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    justify-content: space-around;
}
.navcard{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightnavcard{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cardtext, .switch{
    margin-right: 10px;
}
.maincard{
    margin-top: 18px;
}
.creditbalance{
    font-size: 50px;
}
.botcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}
.botcardleft{
    display: flex;
}
.creditnumber{
    margin-left: 7px;
}
.asterisk{
    margin-top: 3px;
}
.mastercard{
    width: 40px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-top: 0;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #41688F;
    -webkit-transition: .4s;
    transition: .4s;
    
}

.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
}
input:checked + .slider{
    background-color: rgb(233, 233, 233);
}
input:focus + .slider{
    box-shadow: 0 0 1px white;
}
input:checked + .slider:before {
    -webkit-transition: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}
.cardtext{
    font-size: 15px;
    color: grey;
    font-weight: 500;
}
.paymentlimit{
margin-top: 10px;
}
.limitdesc{
    display: flex;
    justify-content: space-between;
}
.limittext2{
    display: flex;
    font-size: 15px;
    font-weight: 500;
}
.limittext{
    color: grey;
    font-size: 15px;
    font-weight: 500;
}
.blue{
    color: #41688F;
}
.grey{
    color: grey;
}
.greybar{
    width: 100%;
    height: 9px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
}
.bluebar{
    width: 50%;
    height: 9px;
    background-color: #41688F;
    border-radius: 15px;
}
.bar{
    margin-top: 10px;
}
.incomespendings{
    display: flex;
    margin-top: 20px;
}
.incometab{
    display: flex;
    width: 140px;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ECEEEE;
    border-radius: 15px;
    border: 1px solid rgb(180, 180, 180);
}
.incometab2{
    display: flex;
    width: 140px;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    border-radius: 15px;
    margin-left: 20px;
}
.arrow1{
    width: 20px;
    padding: 7px;
 
}
.coolarrowtab, .coolarrow2{
    margin: 6px;
    border-radius: 50%;
   border-bottom: 3px solid black;
   border-right: 3px solid black;
   border-top: 0;
}

.arrow2{
    width: 20px;
    padding: 7px;
    
    transform: rotate(180deg);
}
.rightincome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottommain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.botmidtitle{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(219, 219, 219);
    color: #41688F;
    font-size: 20px;
}
.midnav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
}
.applenav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.leftapplenav{
    display: flex;
    align-items: center;
}
.rightapplenav{
    display: flex;
    align-items: center;
}
.xboxcon{
    width: 15px;
    padding: 3px;
}
.xboxstorage3{
    border-radius: 50%;
    background: transparent;
    margin-right: 10px;
    padding: 3px;
    background-size: 15px;
    background-position: center;
    width: 23px;
    height: 23px;
    background-image: url(https://www.freepnglogos.com/uploads/xbox-games-logo-symbol-19.png);
    background-repeat: no-repeat;
}
.xboxstorage{
    border-radius: 50%;
    background: transparent;
    margin-right: 10px;
    padding: 3px;
    background-size: 15px;
    background-position: center;
    width: 23px;
    height: 23px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/862px-Apple_logo_black.svg.png);
    background-repeat: no-repeat;
}
.xboxstorage2{
    border-radius: 50%;
    background: transparent;
    margin-right: 10px;
    padding: 3px;
    background-size: 15px;
    background-position: center;
    width: 23px;
    height: 23px;
    background-image: url(https://cdn.worldvectorlogo.com/logos/amazon-icon.svg);
    background-repeat: no-repeat;
}
.applecost{
    margin-right: 10px;
}
.arrow{
    background-image: url(https://static.thenounproject.com/png/1513337-200.png);
    width: 15px;
    height: 17px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
}
.applestore{
    color: rgb(85, 85, 85);
    font-size: 15px;
}
.rightcolumn{
    display: flex;
    flex-direction: column;

    margin: 20px;
    width: 35%;
    border-radius: 20px;
}
.width2{
 margin-left: 30px;
 margin-right: 30px;
 display: flex;
 flex-direction: column;

height: 730px;
}
.rightnav{
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
}
.gear, .noti{
    width: 12px;
}
.reddot{
    width: 3px;
}
.settings, .notifications{
    background: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
}
.settings{
    margin-right: 10px;
}
.reddot{
    position: absolute;
    width: 8px;
    margin-top: -8px;
}
.righttop{
    display: flex;
    flex-direction: column;
}
.rightnav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
select{
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    margin-top: 5px;
}
.expenses{
    color: #41688F;
}
.chart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.pichart{
    width: 150px;
    margin-bottom: 15px;
}
.transport{
    font-weight: 500;
    margin-top: 6px;
}
.transportcost{
    color: grey;
    margin-top: 3px;
}
.sendmoney{
    display: flex;
    flex-direction: column;
}
.sendmoneynav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.people{
    display: flex;
    justify-content: space-around;
    margin-top: 13px;
}
.schedulednav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paymentcompanies{
    display: flex;

}
.tophalfright{
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bothalfright{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.sendmoneytitle{
    color: #41688F;
    font-size: 20px;
    
}
.pfp2{
    width: 50px;
    border-radius: 50%;
    filter: grayscale(100%);
}
.sendmoneynav{
    padding-bottom: 11px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.plus{
    background: transparent;
    border: none;
    display: flex;
}
.plussign{
    width: 25px;
}
.person{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.firstname{
    margin-top: 5px;
    font-size: 15px;
    color: grey;
}
.lastname{
    margin-top: -3px;
    font-size: 15px;
    color: grey;
}
.sendmoneytitle2{
    color: #41688F;
    font-size: 20px;
}
.schedulednav{
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.arrowbot{
    width: 15px;
    margin-right: 1px;
}
.companylogo{
    width: 30px;
}
.company1{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
    margin-top: 12px;
    margin-right: 5px;
    border-radius: 20px;
}
#youtube{
    background: #FF0000;
}
#netflix{
    background: black;
}
#Vimeo{
    background: #19B7EA;
}
#Spotify{
    background: #1DB954;
}
.rate{
    color: white;
}
.company{
    color: white;
}
ul li span{
    color: black;
}
ul .oneone {
    color: black;
}
ul .twotwo{
    color: yellow;
}
ul .threethree{
    color: blue;
}
li{
    font-size: 25px;
    margin-top: -3px;
}
li span {
    font-size: 15px;
    position: relative;

}