.title{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
padding: 10px;
padding-bottom: 0;
}
*{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.component{
    width: 300px;
    border-radius: 10px;
    background-color: #161616;
}

.category-title{
    color: rgb(80, 80, 80);
    margin: 0;
    padding-left: 10px;
    font-weight: 00;
}
.category{
    color: white;
    padding-left: 10px;
    margin-top: 0px;
    font-weight: 400;
}
img{
    filter:opacity(100%);
    width: 25px;
    padding-left: 10px;

}
.people{
    color: white;
    padding-left: 10px;
    margin-top: -26px;
    margin-left: 30px;
    font-weight: 400;
    padding-bottom: 23px;
}