*{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
}
.hamburger{
  width: 30px;
  height: 30px;
}
.smallboxes{
  display: flex;
  flex-direction: column;
}
.bigbox{
  background: rgb(126, 241, 126);
  width: 40%;
}
.navbarbig{
  display: flex;
  justify-content: space-between;
}
.leftnavbarbig{
  display: flex;
}
.magnify{
  width: 30px;
  height: 30px;
}
.person1, .person2{
  width: 50px;
}
.arrow{
  width: 20px;
}
.wired{
  width: 80px;
}
.topbox{
  background: rgb(126, 241, 126);
}
.middlebox{
  background: rgb(126, 241, 126);
}
.bottombox{
  background: rgb(126, 241, 126);
}